<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.macnugget.Alfred-MiaB</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>176FCA00-AA2A-462C-A809-CFAA55725C1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D8E05B0-56F3-4D1A-96C3-AA4BEA030CDD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3183BB5D-4805-4D81-9D27-2AB8847C7013</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FE7663C-BC0D-457B-9E38-C4EBA520216C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8FE7663C-BC0D-457B-9E38-C4EBA520216C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>982F4CAF-24A5-410B-88B2-D10ABFDDEA0E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>982F4CAF-24A5-410B-88B2-D10ABFDDEA0E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A50DD96F-FA59-4DD8-B192-6513680F1298</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AA6DAC0F-7F1E-4D06-886D-D26E960CDEE5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>419109D1-1093-45BB-AEAF-15D01B526A9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AA6DAC0F-7F1E-4D06-886D-D26E960CDEE5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>176FCA00-AA2A-462C-A809-CFAA55725C1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AA6DAC0F-7F1E-4D06-886D-D26E960CDEE5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>450D1A93-C08A-42FD-9515-7B62E537D137</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>57575BAE-48F8-41F8-8F15-111BF602C6CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D8E05B0-56F3-4D1A-96C3-AA4BEA030CDD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD5306F3-6CF0-44E1-82E8-C974F06CCC8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A50DD96F-FA59-4DD8-B192-6513680F1298</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>David McNett &lt;nugget@macnugget.org&gt;</string>
	<key>description</key>
	<string>Add and remove email aliases on a MiaB server</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mail-in-a-Box Aliases</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Glass</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>A50DD96F-FA59-4DD8-B192-6513680F1298</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Mail alias created successfully</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>419109D1-1093-45BB-AEAF-15D01B526A9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FD5306F3-6CF0-44E1-82E8-C974F06CCC8D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>create_alias.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8FE7663C-BC0D-457B-9E38-C4EBA520216C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>na</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Chillout</string>
				<key>script</key>
				<string>export CURRENT_URL=$(osascript ./get_url.scpt)

./script_filter.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Subtext</string>
				<key>title</key>
				<string>Title</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3183BB5D-4805-4D81-9D27-2AB8847C7013</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>9D8E05B0-56F3-4D1A-96C3-AA4BEA030CDD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string> .+</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>176FCA00-AA2A-462C-A809-CFAA55725C1E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>☺</string>
						<key>outputlabel</key>
						<string>SUCCESS</string>
						<key>uid</key>
						<string>AA6DAC0F-7F1E-4D06-886D-D26E960CDEE5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>ERROR</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>982F4CAF-24A5-410B-88B2-D10ABFDDEA0E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Unable to create mail alias</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>450D1A93-C08A-42FD-9515-7B62E537D137</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Sosumi</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>57575BAE-48F8-41F8-8F15-111BF602C6CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Mail-in-a-Box Aliases Alfred Workflow</string>
	<key>uidata</key>
	<dict>
		<key>176FCA00-AA2A-462C-A809-CFAA55725C1E</key>
		<dict>
			<key>note</key>
			<string>Remove everything from the success message except for the email alias we just created.</string>
			<key>xpos</key>
			<real>655</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>3183BB5D-4805-4D81-9D27-2AB8847C7013</key>
		<dict>
			<key>note</key>
			<string>User inputs the desired email alias to be created with various context helpers.</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>419109D1-1093-45BB-AEAF-15D01B526A9B</key>
		<dict>
			<key>note</key>
			<string>Success message!</string>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>450D1A93-C08A-42FD-9515-7B62E537D137</key>
		<dict>
			<key>note</key>
			<string>Failure message</string>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>57575BAE-48F8-41F8-8F15-111BF602C6CA</key>
		<dict>
			<key>note</key>
			<string>Failure sound</string>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>8FE7663C-BC0D-457B-9E38-C4EBA520216C</key>
		<dict>
			<key>note</key>
			<string>Sanitize user input and create the new alias using the Mail-in-a-Box API.  Credentials for the server APIs are obtained from 1Password 8 or are optionally stored in the Workflow configuration.</string>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>982F4CAF-24A5-410B-88B2-D10ABFDDEA0E</key>
		<dict>
			<key>note</key>
			<string>Look for the magic character in the query that indicates success.</string>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>9D8E05B0-56F3-4D1A-96C3-AA4BEA030CDD</key>
		<dict>
			<key>note</key>
			<string>Trim whitespace from alias address.</string>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>A50DD96F-FA59-4DD8-B192-6513680F1298</key>
		<dict>
			<key>note</key>
			<string>Success sound</string>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>FD5306F3-6CF0-44E1-82E8-C974F06CCC8D</key>
		<dict>
			<key>note</key>
			<string>Copy the new alias into the focused app.</string>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>[Server One Name]
	url = https://box.example.com/admin
	domains = example.com, example.net
	onepassword_uuid = frepslcsdbcpbmrumgo2ifx5nu

[Server Two Name]
	url = https://box.example.org/admin
	domains = example.org
	onepassword_uuid = rhx474sdv5bofk2xgjrgiz2xqq</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string>Config block of your servers and the domains they are configured to receive.</string>
			<key>label</key>
			<string>Your Mail-in-a-box servers</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>MIAB_SERVERS</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>user@example.org, user@example.net, user@example.com</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string>List of comma-separated email addresses to be used as your destination address for the alias.</string>
			<key>label</key>
			<string>Your email addresses</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>MIAB_TARGETS</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/nugget/alfred-mailinabox-aliases</string>
</dict>
</plist>
